In [63]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [64]:
data=pd.read_csv("final_df.csv")

In [65]:
data.head()

,Unnamed: 0,Duration,Total_Stops,Price,Day,month,Month_num,Week_day,Week_num,Dep_hour,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Date_categ_Second Half
0,0,170,0,3897.0,24,3,3,3,11,22,...,0,0,0,0,0,0,1,0,0,1
1,1,445,2,7662.0,5,1,1,2,0,5,...,0,0,0,1,0,0,0,0,0,0
2,2,1140,2,13882.0,6,9,9,0,35,9,...,0,0,1,0,0,1,0,0,0,0
3,3,325,1,6218.0,5,12,12,4,48,18,...,0,0,0,1,0,0,0,0,0,0
4,4,285,1,13302.0,3,1,1,4,0,16,...,0,0,0,0,0,0,1,0,0,0

In [66]:
#Lets drop a few columns which are somewhat similar
data.drop(["Duration", "Month_num", "Week_num","Week_day","Date_categ_Second Half","Unnamed: 0","Dep_type","Arr_type"], axis = 1, inplace = True)

Split the dependent and independent variables.

In [67]:
X=data.loc[:,data.columns != "Price"]

In [68]:
y=data.loc[:,data.columns == "Price"]

In [69]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10462 entries, 0 to 10461
Data columns (total 28 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total_Stops                                10462 non-null  int64
 1   Day                                        10462 non-null  int64
 2   month                                      10462 non-null  int64
 3   Dep_hour                                   10462 non-null  int64
 4   Dep_min                                    10462 non-null  int64
 5   Arr_hour                                   10462 non-null  int64
 6   Arr_min                                    10462 non-null  int64
 7   duration_hour                              10462 non-null  int64
 8   duration_min                               10462 non-null  int64
 9   Airline_Air India                          10462 non-null  int64
 10  Airline_GoAir                              10462 non-null  int64
 11  Airline_IndiGo                             10462 non-null  int64
 12  Airline_Jet Airways                        10462 non-null  int64
 13  Airline_Jet Airways Business               10462 non-null  int64
 14  Airline_Multiple carriers                  10462 non-null  int64
 15  Airline_Multiple carriers Premium economy  10462 non-null  int64
 16  Airline_SpiceJet                           10462 non-null  int64
 17  Airline_Trujet                             10462 non-null  int64
 18  Airline_Vistara                            10462 non-null  int64
 19  Airline_Vistara Premium economy            10462 non-null  int64
 20  Source_Chennai                             10462 non-null  int64
 21  Source_Delhi                               10462 non-null  int64
 22  Source_Kolkata                             10462 non-null  int64
 23  Source_Mumbai                              10462 non-null  int64
 24  Destination_Cochin                         10462 non-null  int64
 25  Destination_Delhi                          10462 non-null  int64
 26  Destination_Hyderabad                      10462 non-null  int64
 27  Destination_Kolkata                        10462 non-null  int64
dtypes: int64(28)
memory usage: 2.2 MB

In [70]:
#Train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [71]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score
from sklearn import metrics
from math import sqrt
reg_rf = RandomForestRegressor()
reg_rf.fit(X_train, y_train)

RandomForestRegressor()

In [72]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [73]:
#predict on X_test
y_test_pred = reg_rf.predict(X_test)

In [74]:
#predict on X_train
y_train_pred = reg_rf.predict(X_train)

In [75]:
#Train results
print("Train Results for Random Forest Regressor Model:")
print(100 * '*')
print("Root mean squared error: ", sqrt(mse(y_train, y_train_pred)))
print("Mean absolute % error: ", round(mean_absolute_percentage_error(y_train, y_train_pred)))
print("R-squared: ", r2_score(y_train, y_train_pred))

Train Results for Random Forest Regressor Model:
****************************************************************************************************
Root mean squared error:  718.1379741037517
Mean absolute % error:  68.0
R-squared:  0.9760333952727138

In [76]:
#Test results
print("Test Results for Random Forest Regressor Model:")
print(100 * '*')
print("Root mean squared error: ", sqrt(mse(y_test, y_test_pred)))
print("Mean absolute % error: ", round(mean_absolute_percentage_error(y_test, y_test_pred)))
print("R-squared: ", r2_score(y_test, y_test_pred))

Test Results for Random Forest Regressor Model:
****************************************************************************************************
Root mean squared error:  1820.1410813921445
Mean absolute % error:  68.0
R-squared:  0.8411093696733158

In [77]:
#creating a pickle file
import pickle
file = open('flight_pred.pkl', 'wb')

# dump information to that file
pickle.dump(reg_rf, file)